body{
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background-color: black;
}

select{
    width: 20vh;
    height: 1.8em;
    text-align: center;
    border-radius: 3vh;
    letter-spacing: 0.6px;
}

#boton-generar{
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  
  
}


#contenedor-1{
    width: 70vh;
    background-color: red;
    border: black 2px solid;
    border-radius: 3px;
    text-align: center;
}

#info-seleccionada{
    background-color: #cbc0d3;
    width: 70vh;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 3px;
    margin-top: 5px;
    color: black;
    letter-spacing: 1px;
}

#contenedor-productos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    grid-gap: 3px;
    margin-top: 10px;
    background-color: #000000;
    border: #8e9aaf;
    border-radius: 4px;
}

.producto{
    background-color: white;
    margin: 10px;
    text-align: center;
    border: white solid 3px;
    border-radius: 5px;
}

.boton-comprar{
    color: black;
    background-color: #00646b;
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

#contenedor-productos img{
    width: 210px;
    border-radius: 3vh;

}